html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.title {
    margin-top: 5vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input#search-bar {
    font-size: 1.2rem;
}

.card {
    padding: 1%;
    background-color: #f1f1f1;
    margin-left: 1.3vw;
    margin-right: 1.3vw;
    border-style: solid;
    font-size: 1.0rem;
    width: 16vw;
    margin-bottom: 5vh;
}

#container {
    margin: auto;
}

#info-and-sort {
    display: flex;
    margin-top: 7vh;
    margin-bottom: -3vh;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
}

.info {

}

.sort-buttons {
    margin-right: 0;
    margin-left: auto;
    border-style: solid;
    border-width: 0.08vw;
    border-radius: 1vw;
    border-color: #2b2b2b;
    padding: 0.41vw;
    color: #171717;
    width: 20vw;
    justify-content: center;
    text-align: left;
    padding-top: 0.47vh;
    padding-left: 1vw;
    height: 4vh;
    background-color: white;
    user-select: none;
}

.sort-button {
    margin-right: 0;
    margin-left: auto;
    border-style: solid;
    border-width: 0.08vw;
    border-radius: 1vw;
    border-color: #2b2b2b;
    padding: 0.41vw;
    color: #171717;
    width: 20vw;
    justify-content: center;
    text-align: left;
    padding-top: 0.47vh;
    padding-left: 1vw;
    height: 4vh;
    background-color: white;
}

.sort-button:hover {
    border-color: #4692eb;
}

.sort-options {
    margin-top: 2vh;
    margin-left: -2vh;
    position: absolute;
    z-index: 1000;
    display: none;
}

.sort-options div {
    margin-bottom: 1.2vh;
}