@page
@model IndexModel
@{
    ViewData["Title"] = "Ana sayfa";
}

@{
    var products = "";
    ProductsHandler handler = new ProductsHandler();
    foreach (Product product in handler.products)
    {
        products += string.Format("""
            <div class="card">
                <a><b>Ürün:</b> {0}</a>
                <a><b>Marka:</b> {1}</a>
                <a><b>Fiyat:</b> {2}</a>
                <a><b>Puan:</b> {3}</a>
                <a><b>Yorum Sayısı:</b> {4}</a>
            </div>
        """, product.name, product.brand, product.price, product.rating, product.reviews);
    }

}

<div class="text-center">
    <h1 class="display-4">Ucuz Bilgisayar</h1>
    <p>En ucuz bilgisayar fiyatlarını öğrenin.</a>.</p>
</div>

<div class="search-bar center">
    <input type="text" />
</div>

<div class="cards">
    @Html.Raw(products);
</div>